body {
    text-align: center;
}

#screen {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background: #000;
    background: -moz-radial-gradient   (center, ellipse cover, #333 0%, #000 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #333 0%, #000 70%);
    background: -o-radial-gradient     (center, ellipse cover, #333 0%, #000 70%);
    background: -ms-radial-gradient    (center, ellipse cover, #333 0%, #000 70%);
    background: radial-gradient        (center, ellipse cover, #333 0%, #000 70%);
}

#start {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  text-indent: -9999px;
  display: block;
  width: 100%;
  height: 100%;
  background: #000 url(images/start.jpg) center center no-repeat;
}

#start.gameover {
  background: #000 url(images/gameover.jpg) center center no-repeat;
}

#ship {
    width: 34px;
    height: 21px;
    position: absolute;
    background: transparent url(images/ship.png) center center no-repeat;
}

#copyright a {
  position: relative;
  top: 18px;
}

#gameplay {
  clear: both;
  font-size: 11px;
  margin-top: 20px;
}

#level,
#score {
  width: 45%;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 10px;
}

#score { float: left; }

#level { float: right; }

.bug {
    width: 30px;
    height: 22px;
    position: absolute;
    background: transparent url(images/invader_30.gif) center center no-repeat;
    -webkit-transition: background .1s ease-in-out;
       -moz-transition: background .1s ease-in-out;
            transition: background .1s ease-in-out;
}
.bug.bang {
    height: 29px;
    background: transparent url(images/splash.png) center center no-repeat;
}

.bugs_map {
    position: absolute;
}

.shell {
    position: absolute;
    width: 1px;
    height: 10px;
    background: yellow;
}
